<style>
  html:not([lang^="th"]) {
    font-size: 15px;
  }

  html:not([lang^="th"]) #site-header.header {
    padding-top: 0.42rem;
    padding-bottom: 0.42rem;
  }

  html:not([lang^="th"]) #site-header .navbar {
    padding-right: 0.55rem;
    padding-left: 0.55rem;
  }

  html:not([lang^="th"]) #site-header .navbar-brand {
    font-size: 1.05rem;
    line-height: 1.2;
  }

  html:not([lang^="th"]) #site-header .nav-link {
    padding: 0.48rem 0.4rem;
    font-size: 0.88rem;
    line-height: 1.2;
  }

  html:not([lang^="th"]) #site-header .nav-dropdown-list {
    min-width: 10.25rem;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
  }

  html:not([lang^="th"]) #site-header .nav-dropdown-link {
    padding-top: 0.18rem;
    padding-bottom: 0.18rem;
    font-size: 0.86rem;
    line-height: 1.35;
  }

  html:not([lang^="th"]) #site-header [data-hb-theme-dropdown],
  html:not([lang^="th"]) #site-header [data-hb-language-chooser] {
    font-size: 0.78rem;
  }

  @media (min-width: 1024px) {
    html:not([lang^="th"]) #site-header #nav-menu > :not([hidden]) ~ :not([hidden]) {
      margin-left: 0.48rem !important;
    }
  }

  @media (max-width: 1023px) {
    html:not([lang^="th"]) #site-header #nav-menu {
      padding-bottom: 1rem;
    }

    html:not([lang^="th"]) #site-header .nav-link {
      padding-top: 0.45rem;
      padding-bottom: 0.45rem;
    }
  }
</style>
